.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}

:root{
    /* color section */
    --white-color: #F7F7F7;
    --blue-color: #01ACFD;
    --teal-blue: #05D4DF;
    --purple-color: #5D58EF;
    --orange-color: #FEA301;
    --black-color: #111111;
    /* font-section */
    --root-font-size: 1rem;
    --small-font: 1.25rem;
    --medium-font: 2rem;
    --big-font: 2.8rem;
    --bigger-font: 3.5rem;
}

/* ------------------------------------------------------- */

/* header section */
/* navbar section */
.navbar{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    padding: 20px 140px;
}

/* style section */
.nav-brand{
    .nav-title{
        font-size: var(--medium-font);
        font-weight: bold;
        color: var(--black-color);
    }
}

.nav-links{
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    font-size: var(--small-font);
    font-weight: 500;

    &.link-home{
        color: var(--orange-color);
    }

    &.link-about{
        color: var(--blue-color);
    }

    &.link-facilities{
        color: var(--teal-blue);
    }

    &.link-admission{
        color: var(--purple-color);
    }
}


.nav-btn{
    font-size: var(--small-font);
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--orange-color);
    padding: 10px 60px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}
.menu-icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
/* style section end */
.nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* navbar section end */
/* banner section */

.banner{
    max-width: 1160px;
    margin: 20px auto;
}

.banner-info{
    width: 640px;
}


/* style section */
.banner-info {
    .banner-title {
      font-size: var(--bigger-font);
      font-weight: bold;
  
      .one {
        color: var(--orange-color);
      }
  
      .two {
        color: var(--blue-color);
      }
    }
    
    .banner-des {
      font-size: var(--small-font);
      margin: 24px 0;
    }

    .banner-btn {
        font-size: var(--small-font);
        font-weight: 500;
        color: var(--white-color);
        background-color: var(--black-color);
        padding: 10px 48px;
        border-radius: 12px;
        border-style: none;
        cursor: pointer;
      }
  
  }
/* style section end */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* banner section end */
/* header section end */


/* responsive header section */

@media screen and (max-width:576px) {
/* navbar section */

.navbar{
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-content{
    width: 100%;
    padding: 15px 20px;
    position: relative;
    border: 1px solid #FEA301;
}

    .nav-links{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    .nav-title{
        display: none;
    }

    .menu-icon{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
/* navbar section end */
/* banner section */
    .banner{
        flex-direction: column-reverse;
        gap: 40px;
        width: 90%;
        padding: 0;
        margin: 0 auto;
        /* justify-content: center;
        align-items: center; */
    }

    .banner-info{
        text-align: center;
        width: 100%;
        .banner-title{
            font-size: 2rem;
        }
    }

    .banner-img img{
        width: 100%;
    }
    
    .banner-img{
        margin: 0 auto;
        text-align: center;
    }
}


/* responsive header section end */